user {{ .NginxUser }};
worker_processes auto;
worker_rlimit_nofile 65535;

thread_pool default_pool threads=32 max_queue=65536;

events {
    worker_connections 4096;
    multi_accept on;
    use epoll;
}

http {
    include mime.types;
    default_type application/octet-stream;

    sendfile on;
    keepalive_timeout 65;

    http3 on;
    quic_gso on;
    quic_retry on;

    gzip_vary on;
    gzip on;
    gzip_static on;

    server {
        listen 443 quic reuseport;
        server_name _;

        ssl_certificate     {{ .TLSCert }};
        ssl_certificate_key {{ .TLSKey }};

        ssl_protocols TLSv1.3;
        http3 on;

        return 444;
    }

    include {{ .SitesIncludeGlob }};
}
