Package: ngm
Version: 2026.04.12-1
Section: admin
Priority: optional
Architecture: amd64
Depends: systemd, ca-certificates
Maintainer: Christos Panagiotakis <chris@nixpal.com>
Description: NGM daemon and CLI
 Nginx manager
