[{{ .PoolName }}]

user = {{ .RunUser }}
group = {{ .RunGroup }}

listen = {{ .Socket }}
listen.owner = {{ .ListenOwner }}
listen.group = {{ .ListenGroup }}
listen.mode = 0660

pm = ondemand
pm.max_children = {{ .MaxChildren }}
pm.process_idle_timeout = {{ .IdleTimeout }}
pm.max_requests = {{ .MaxRequests }}

request_terminate_timeout = {{ .RequestTerminateTimeout }}
request_slowlog_timeout = {{ .SlowlogTimeout }}
slowlog = {{ .SlowlogPath }}

; Logging
catch_workers_output = yes
php_admin_value[error_log] = {{ .ErrorLog }}
php_admin_flag[log_errors] = on

; Security-ish defaults
php_admin_flag[expose_php] = off
php_admin_value[disable_functions] = exec,passthru,shell_exec,system,proc_open,popen

; Optional per-pool php.ini overrides:
{{- range $p := sortedPairs .PHPAdminValues }}
php_admin_value[{{ $p.Key }}] = {{ $p.Value }}
{{- end }}
{{- range $p := sortedPairs .PHPValues }}
php_value[{{ $p.Key }}] = {{ $p.Value }}
{{- end }}
