[Unit]
Description=ngm
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/ngm/ngm -c /opt/ngm/config.yaml serve
WorkingDirectory=/opt/ngm
Restart=always
RestartSec=3
KillSignal=SIGTERM
TimeoutStopSec=30
EnvironmentFile=-/etc/default/ngm

NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
